.loader_screen {
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    position: relative;
  }
  
  .loader {
    width: 60px;
    aspect-ratio: 4;
    --c: #000 90%, #0000; /* Change to black */
    background: 
      radial-gradient(circle closest-side at left 6px top 50%, var(--c)),
      radial-gradient(circle closest-side, var(--c)),
      radial-gradient(circle closest-side at right 6px top 50%, var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes l4 {
    to {
      width: 25px;
      aspect-ratio: 1;
    }
  }
  