@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"), url(../fonts/Gilroy-Light.ttf) format("truetype");
}

.swiper-pagination-bullet {
  background-color: #1f3dd9 !important;
  width: 7px !important;
  height: 30 !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  height: 60px !important;
}
