@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdnjs.cloudflare.com/ajax/libs/react-select/4.3.1/react-select.min.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}
.swiper-text-clamp {
    font-size: clamp(1px, 2vw, 12px);
    text-overflow: ellipsis;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: local("Gilroy-Light"), url(../fonts/Gilroy-Light.ttf) format("truetype");
}

/* Custom styles for react-select */
.react-select__control {
  border: 1.5px solid #DCDCE7;
  border-radius: 0.5rem;
}

.react-select__menu {
  border-radius: 0.5rem;
}

.react-select__option--is-selected {
  background-color: #1F3DD9;
  color: white;
}

html {
    scroll-behavior: smooth;
  }