@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}
.swiper-text-clamp {
    font-size: clamp(1px, 2vw, 12px);
    text-overflow: ellipsis;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.ttf) format("truetype");
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: local("Gilroy-Light"), url(../fonts/Gilroy-Light.ttf) format("truetype");
}



.swiper-pagination-bullet {
  background-color: #1f3dd9 !important;
  width: 7px !important;
  height: 30 !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  height: 60px !important;
}
