h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.copy-button {
  background: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  height: fit-content;
  border-radius: 5px;
}

.copy-button:hover {
  background: #0056b3;
}

.hljs {
  background-color: #edeeef !important;
  border-radius: 5px !important;
  display: flex;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: first baseline;
  padding: 1rem;
}



p img
{
  margin:  1rem 0;
}

p , li,ul 
{
  line-height: 2rem;
  margin: 3px 0;
 
}


li a, p a{
  color: #007bff;

}